body {
    background: url("images/heart.jpg") no-repeat center fixed;
    background-size: cover;

    }

    #footer {
        margin: 50px;
        padding: 30px;
        text-align: center;
        font-size: 15px;
    }

    #name, flip {
        border: 2px;
        margin: 35px;
        text-align: center;
        padding: 50px;
        color: goldenrod;


    }

    #nav {
        margin: 150px;
        align-content:  center;
        border: 3px solid goldenrod;
        padding: 20px;
        text-align: center;

    }
    #nav {
        margin: 150px;
        align-content:  center;
        border: 3px solid goldenrod;
        padding: 20px;
        text-align: center;
        columns: 4;
        /* display: none; */
    }
    #about, .text {
        text-align: right;
        margin-right:17%;


        
        
    }
    #about, .textknowledge {
        text-align: right;
        padding-top:12%;
        margin-right: 17%;


        
    }
          
    h3 {
        font-size: 5em;
        color:white;
        text-transform: uppercase;
      }
      
      span {
        border-right: .05em solid;
        animation: caret 3.5s steps(3) infinite;
      } 
      
      @keyframes caret {
        80% {
          border-color: transparent;
        }
      }